div.hz{font-size:19px;font-weight:bold;word-wrap:break-word}
div.py{word-wrap:break-word}

li{list-style-position:outside;list-style-type:square;color:#0043B3;font-size:16px;font-style:italic;line-height:135%;}

.pt1{color: #ff0000	!important;padding:1px;}
.pt2{color: #d89000	!important;padding:1px;}
.pt3{color: #00a000	!important;padding:1px;}
.pt4{color: #0000ff	!important;padding:1px;}
.pt5{color: #000000	!important;padding:1px;}
.ptd{color: #808080	!important;padding:1px;}

.ht1{color: #ff0000	!important;}
.ht2{color: #d89000	!important;}
.ht3{color: #00a000	!important;}
.ht4{color: #0000ff	!important;}
.ht5{color: #000000	!important;}
.htd{color: #808080	!important;}

.mpt1{color: #e30000	!important;}
.mpt2{color: #02b31c	!important;}
.mpt3{color: #1510f0	!important;}
.mpt4{color: #8900bf	!important;}
.mpt5{color: #777777	!important;}
.mptd{color: #000000	!important;}